@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --text-b: Inter;
  --headline-extra-bold-h4: Roboto;
  --font-poppins: Poppins;
  --body-regular-600: "Public Sans";
  --font-pt-serif: "PT Serif";

  /* font sizes */
  --text-b-size: 16px;
  --header-heading-1-size: 40px;
  --header-heading-4-size: 24px;
  --header-heading-3-size: 32px;
  --button-btn-size: 14px;
  --font-size-smi-8: 12.8px;
  --body-large-400-size: 20px;
  --font-size-7xl: 26px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --headline-extra-bold-h4-size: 28px;
  --font-size-3xl: 22px;
  --font-size-lgi: 19px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --display-size: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;
  --font-size-7xl-7: 26.7px;
  --font-size-2xl: 21px;
  --font-size-14xl-3: 33.3px;
  --font-size-8xl: 27px;
  --font-size-2xl-3: 21.3px;
  --font-size-mid: 17px;
  --font-size-base-3: 16.3px;

  /* Colors */
  --white-background: #fff;
  --gray-700: #363a3d;
  --color-darkslategray-100: #333;
  --black-fonts-headings: #2d2e2e;
  --color-gray-3: #898989;
  --color-gray-100: #7d7d7d;
  --black: #262626;
  --color-gray-200: #242424;
  --nd-primary-900: #21212f;
  --color-gray-300: #1f2027;
  --gray-black: #1b1d1f;
  --primary-900: #06241b;
  --black1: #000;
  --color-whitesmoke-100: #f3f3f3;
  --color-whitesmoke-200: #f2f2f2;
  --color-whitesmoke-300: #ebebeb;
  --gray-50: #e7e9eb;
  --color-whitesmoke-400: rgba(231, 233, 235, 0.5);
  --muted-color: #788590;
  --color-coral-100: #f27a44;
  --color-coral-200: rgba(255, 127, 80, 0.5);
  --color-indianred: #be554b;
  --gray-500: #6d737a;
  --color-dimgray-100: #505c59;
  --gray-600: #52565c;
  --color-gainsboro: #e6e6e6;
  --color-cornsilk: rgba(248, 241, 211, 0.25);
  --gray-100: #cfd3d6;
  --color-ghostwhite-100: #f8f4ff;
  --nd-primary-50: #f1f2f8;
  --color-mediumslateblue: #3461fd;
  --color-cornflowerblue-100: #a9a8f6;
  --nd-primary-300: #85a0fe;
  --secondary-500: #ffc27a;
  --color-plum: rgba(204, 180, 255, 0.5);
  --color-royalblue: #6176f7;
  --secondary-50: #fffaf5;
  --primary: #b88e2f;
  --color-darkgray: #9f9f9f;

  /* Gaps */
  --gap-lgi: 19px;
  --gap-xl: 20px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-51xl: 70px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-20xl: 39px;
  --gap-14xl: 33px;
  --gap-xs-7: 11.7px;
  --gap-7xs-8: 5.8px;
  --gap-26xl: 45px;
  --gap-4xl: 23px;
  --gap-3xs: 10px;
  --gap-mini: 15px;
  --gap-9xs: 4px;
  --gap-6xl: 25px;
  --gap-31xl: 50px;
  --gap-10xs: 3px;
  --gap-5xs: 8px;
  --gap-21xl: 40px;
  --gap-5xl: 24px;
  --gap-2xl: 21px;
  --gap-12xl: 31px;
  --gap-6xs: 7px;
  --gap-18xl: 37px;
  --gap-lg: 18px;
  --gap-xs: 12px;
  --gap-7xs: 6px;
  --gap-8xs: 5px;
  --gap-2xs: 11px;
  --gap-sm-3: 13.3px;
  --gap-10xs-7: 2.7px;
  --gap-17xl: 36px;

  /* Paddings */
  --padding-48xl: 67px;
  --padding-xl: 20px;
  --padding-14xl: 33px;
  --padding-8xs: 5px;
  --padding-smi: 13px;
  --padding-2xl: 21px;
  --padding-base: 16px;
  --padding-6xl: 25px;
  --padding-10xl-2: 29.2px;
  --padding-base-2: 15.2px;
  --padding-mid-5: 17.5px;
  --padding-11xs: 2px;
  --padding-3xl: 22px;
  --padding-16xl: 35px;
  --padding-19xl: 38px;
  --padding-11xl: 30px;
  --padding-sm: 14px;
  --padding-3xs: 10px;
  --padding-7xl: 26px;
  --padding-31xl: 50px;
  --padding-mini: 15px;
  --padding-10xl: 29px;
  --padding-40xl: 59px;
  --padding-12xl: 31px;
  --padding-15xl: 34px;
  --padding-lgi: 19px;
  --padding-12xs: 1px;
  --padding-81xl: 100px;
  --padding-281xl: 300px;
  --padding-46xl: 65px;
  --padding-56xl: 75px;
  --padding-13xl: 32px;
  --padding-131xl: 150px;
  --padding-xs: 12px;
  --padding-mid: 17px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-5xl: 24px;
  --padding-277xl: 296px;
  --padding-5xs: 8px;
  --padding-145xl: 164px;
  --padding-68xl: 87px;
  --padding-36xl: 55px;
  --padding-17xl: 36px;
  --padding-21xl: 40px;
  --padding-20xl: 39px;
  --padding-5xl-4: 24.4px;
  --padding-smi-2: 12.2px;

  /* Border radiuses */
  --br-8xs-7: 4.7px;
  --br-xs-7: 11.7px;
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-31xl: 50px;
  --br-2xl: 21px;
  --br-81xl: 100px;
  --br-5xs: 8px;
  --br-981xl: 1000px;
  --br-5xl: 24px;
  --br-xs: 12px;
  --br-3xl: 22px;
  --br-7xs: 6px;
  --br-6xs-7: 6.7px;
  --br-sm-3: 13.3px;
  --br-4xs-2: 8.2px;
}
